.altered-width {
  width: 83% !important; }

body {
  background-color: #f3f3f3; }

.right-side-navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .right-side-navigation .auto-height {
    height: auto !important; }
    .right-side-navigation .auto-height a {
      padding: 0 !important; }
  .right-side-navigation ul li {
    display: block !important;
    border-bottom: 1px solid transparent !important; }
    .right-side-navigation ul li a {
      color: unset; }
      .right-side-navigation ul li a i {
        font-size: 1.25em;
        padding: 20px 11px; }
    .right-side-navigation ul li img {
      width: 42px;
      height: 42px;
      border-radius: 50%; }

@media only screen and (max-width: 600px) {
  .left-sidebar-layout, .right-side-navigation {
    position: relative !important; } }
.top-navigation nav {
  background-color: inherit;
  box-shadow: none; }
.top-navigation a {
  color: black; }
.top-navigation .material-icons {
  background: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px 8px;
  float: right; }

.fullcontainer {
  height: 55px;
  padding: 15px; }

.body-content {
  margin-top: 40px; }

.left-sidebar-layout {
  width: 100%;
  background-color: #c0e3e7;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10px; }

.left-sidebar-image {
  margin-top: 40px; }
  .left-sidebar-image img {
    border-radius: 50%;
    width: 195px;
    height: 195px; }

.left-sidebar-social {
  padding-bottom: 20px; }
  .left-sidebar-social li {
    display: inline;
    margin: 5px 12px; }
    .left-sidebar-social li a {
      color: unset; }
  .left-sidebar-social i {
    font-size: 20px; }

.left-sidebar-resume {
  width: 100%;
  background-color: #fff; }
  .left-sidebar-resume a {
    background-color: #c0e3e7;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px; }

.left-sidebar-content h3 {
  font-size: 1.625em; }
.left-sidebar-content h4 {
  font-size: 1.143em;
  font-weight: 100; }

.left-sidebar-social li {
  display: inline;
  margin: 5px 12px; }

.center-content .about-me-section {
  padding: 40px 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1; }
  .center-content .about-me-section h2 {
    padding: 0;
    margin: 0 0 50px;
    font-size: 30px; }
  .center-content .about-me-section p {
    margin: 0 0 22px;
    line-height: 1.875em;
    font-size: 16px;
    font-weight: normal; }
  .center-content .about-me-section a {
    color: black;
    font-size: 18px;
    padding: 8px 45px;
    border-radius: 20px;
    border: 1px solid #c0e3e7; }
    .center-content .about-me-section a i {
      padding-right: 10px; }
.center-content .portfolio-section {
  padding: 40px 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  margin-top: 40px; }
  .center-content .portfolio-section h2 {
    padding: 0;
    margin: 0 0 50px;
    font-size: 30px; }
  .center-content .portfolio-section p {
    margin: 0 0 22px;
    line-height: 1.875em;
    font-size: 16px;
    font-weight: normal; }
.center-content .education-section {
  padding: 40px 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  margin-top: 40px; }
  .center-content .education-section h2 {
    padding: 0;
    margin: 0 0 50px;
    font-size: 30px; }
  .center-content .education-section p {
    margin: 0 0 22px;
    line-height: 1.875em;
    font-size: 16px;
    font-weight: normal; }
.center-content .project-section {
  padding: 40px 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  margin-top: 40px; }
  .center-content .project-section h2 {
    padding: 0;
    margin: 0 0 50px;
    font-size: 30px; }
  .center-content .project-section p {
    margin: 0 0 22px;
    line-height: 1.875em;
    font-size: 16px;
    font-weight: normal; }

/*# sourceMappingURL=custom.css.map */
