.top-navigation {
  nav {
    background-color: inherit;
    box-shadow: none;
  }

  a {
    color: black;
  }

  .material-icons {
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    float: right;
    margin-right: 20px;
  }
}

.fullcontainer {
  h3 {
    margin: 10px 5px 0;
  }
}
