#skills{
  .skills-content{
    .top-spacing{
      margin-top: 20px;
    }
    text-align: center;
    h2{
      text-align: left;
      display: block;
      clear: both;
      margin: 20px 0 10px 0;
    }
    img{
      max-height: 100px;
    }
  }
}
